<header class="flex flex-col w-full max-h-[100px] bg-red-500 md:flex-row md:items-center relative z-20">
    <!-- nombre de la APP -->
    <div class="text-center flex items-center justify-center md:w-60 h-[50px] ">
        <span class="block text-white text-2xl font-bold ">BECL</span>
    </div>
    <nav class="flex  h-[50px] md:w-10/12 ">
        <!-- logo de las barras *ngIf="!isNewUser" -->
        <div class="flex items-center justify-center h-full" >
            <button (click)="closeNav()"
                    class="text-white font-bold flex justify-center items-center w-8 h-full hover:bg-red-600 px-6 ">
                <i class="pi pi-bars"></i>
            </button>
        </div>
        <!-- iconos de notificacion, nombre del aspirante y la foto -->
        <div class="ml-auto h-full text-white">
            <ul class="flex h-full items-center">
                <li class="flex items-center h-full" >
                    <div class="px-4 flex items-center gap-2 w-full h-full hover:bg-red-600">
                        <img class="inline-block w-6 h-6 rounded-full" src="assets/logo-white.png" alt="">
                        <span class="hidden md:inline-block"> Administrador </span>
                    </div>
                </li>
                <li class="flex items-center h-full">
                    <button (click)="logout()" class="px-6 flex items-center justify-center font-bold  w-8 h-full hover:bg-red-600">
                        <i class="pi pi-sign-out "></i>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>

