<div class="p-4">
    <!-- Contenedor para el titulo -->
    
    <!-- Contenedor para los formularios -->
    <div *ngIf="!sheduleEvent; else final">
        <div class="pb-4">
            <h2 class="font-bold text-xl mb-2 md:text-3xl">Datos del Evento</h2>
            <span class="block font-medium text-sm text-gray-400">Ingrese los datos para el evento/capacitacion que se realizará.</span>
        </div>
        <form [formGroup]="eventForm">
            <!-- Contenedor para el titulo del evento -->
            <div [ngClass]="{'mb-2': invalidInput('title'), 'mb-4': !invalidInput('title')}">
                <label for="title">Título del evento *</label>
                <!-- Contenedor para hacer el input group -->
                <div class="flex">
                    <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white"> {{ typeService  }}: </span>
                    <input [ngClass]="{'border-red-400': invalidInput('title')}" class="block w-full pl-3 border-r border-y rounded-r-md outline-none transition-colors " type="text" placeholder="Realización pruebas saber..." id="title" formControlName="title">
                </div>
                <span *ngIf="invalidInput('title')" class="block py-2 text-red-500">El titulo del evento es obligatorio. Ejemplo "Capacitación pruebas saber pro 2023"</span>
            </div>

            <!-- Contenedor para asistentes, fecha y horario -->
            <div class="w-full">
                <!-- contenedor para asistentes y fechas -->
                <div class="lg:flex lg:mb-4 gap-8">
                    <!-- asistentes -->
                    <div class="lg:w-1/2 mb-2">
                        <label for="">Personas a Asistir *</label>
                        <div class="flex  rounded-lg">
                            <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white">
                                <i class="pi pi-users"></i>    
                            </span>
                            <input [ngClass]="{'border-red-400': invalidInput('people')}" class="block w-full pl-3 border-r border-y rounded-r-md outline-none transition-colors" type="text" [placeholder]="setMinPeopleValitador()" formControlName="people">
                        </div>
                        <span *ngIf="invalidInput('people')" class="block py-2 text-red-500"> {{getErrorPeopleMessage()}} </span>
                    </div>
                    <!-- fecha -->
                    <div class="lg:w-1/2 mb-2">
                        <label for="date">Fecha de Realización *</label>
                        <div class="flex rounded-md">
                            <div class="flex">
                                <span class="flex items-center justify-center h-full p-2  bg-gray-400 rounded-l-md text-white">
                                    <i class="pi pi-calendar"></i>    
                                </span>
                            </div>
                            <div class="w-full p-fluid">
                                <!-- (onSelect)="algo()"  -->
                                <p-calendar formControlName="date" (onSelect)="getFormatDate()"  [minDate]="minDate" [maxDate]="maxDate" [disabledDates]="disableDates" [disabledDays]="[0]"   dateFormat="dd/mm/yy" ></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contenedor para los horarios -->
                <div class="mb-4 gap-8 lg:flex">
                    <!-- horario de inicio -->
                    <div class="mb-2 lg:w-1/2 ">
                        <label for="">Hora de inicio *</label>
                        <div class="flex" >
                            <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white"> 
                                <i class="pi pi-clock"></i>
                            </span>
                            <div class="w-full p-fluid">
                                <p-dropdown [options]="start" optionLabel="hours" placeholder="Seleccione la hora de inicio" (onClick)="clearEndHoursList()" (onChange)="endTimes($event)" formControlName="start"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <!-- horario de fin -->
                    <div class="lg:w-1/2">
                        <label for="">Hora de finalización *</label>
                        <div class="flex">
                            <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white"> 
                                <i class="pi pi-clock"></i>
                            </span>
                            <div class="w-full p-fluid">
                                <p-dropdown [options]="endHours" optionLabel="hour" placeholder="Seleccione la hora de fin" formControlName="end" ></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-between">
                <a routerLink="/eventos/personal-info" class="flex py-1 px-3 mt-4 rounded-md text-gray-400"
                   (click) = 'back()'    >Anterior</a>

                <button type="button" class="flex  py-1 px-3 mt-4 rounded-md text-white transition-colors"
                        (click)="submit()"
                        [disabled]="eventForm.invalid"
                        [ngClass]="{'bg-gray-400 cursor-not-allowed': eventForm.invalid, 'bg-red-600 hover:bg-red-500': eventForm.valid}">Agendar</button>
            </div>
        </form>
    </div>

    <!-- contenedor final de agendamiento del evento -->
    <ng-template #final>
        <div *ngIf="showLoading; else show" class="flex flex-col items-center justify-center w-full h-[374px]" >
            <span class="loader"></span>
            <div class="mt-12 text-center p-2">
                <span class="font-medium">¡Espera un momento. Estamos agendando el evento!</span>
            </div>
        </div>
        <ng-template #show>
            <div class="p-2" >
                <button (click)="regresar()">Regresar</button>
                <!-- encabezado -->
                <div class="flex items-center justify-center mb-4">
                    <img src="assets/logo-colors.png" alt="icono de check" class="w-[150px] max-w-[450px]">
                </div>
                <!-- texto de agradecimienot -->
                <div class="text-center">
                    <h2 class=" text-2xl font-semibold pb-5"> ¡Evento Agendado! </h2>
                    
                    <p class="text-[12px] pb-6">Señor/a 
                        <span class="font-semibold"> {{ Ticket.personalInformation.name | titlecase }}</span>, el evento 
                        <span class="font-semibold">{{Ticket.event.title}}</span> , ha sido agendado éxitosamente para 
                        <span class="font-semibold"> {{Ticket.event.date}}</span> en el horario de 
                        <span class="font-semibold">{{Ticket.event.start}}</span> a 
                        <span class="font-semibold">{{Ticket.event.end}}.</span> Le agradecemos que sea puntual en la recepción y entrega del espacio solicitado.</p>
                        
                    <!-- <a [href]="finalRes.urlFile" *ngIf="finalRes?.urlFile" target="_blank" class="text-red-400" [download]="finalRes.urlFile"> {{finalRes.fileName}}  </a> -->
                    <a href="https://docs.google.com/document/d/1plvPaIKLwgdQA30YvEPTa5lG1w13bVV_qU6-GdPXeIw/edit?usp=sharing" target="_blank" download="mi-archivo.doc" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded border border-blue-700">Descargar archivo</a>

                    <div class="">
                        <img src="assets/Firma Jefe.png" alt="" class="mx-auto">
                    </div>
    
                </div>
            </div>
        </ng-template>
    </ng-template>
</div>
