<div class="p-4">
    <!-- Contenedor para el titulo -->
    
    <!-- Contenedor para los formularios -->
    <div *ngIf="!sheduleEvent; else final">
        <div class="pb-4">
            <h2 class="font-bold text-xl mb-2 md:text-3xl">Datos del Evento</h2>
            <span class="block font-medium text-sm text-gray-400">Ingrese los datos para el evento/capacitacion que se realizará.</span>
        </div>
        <form [formGroup]="eventForm">
            <!-- Contenedor para el titulo del evento -->
            <div class="mb-4">
                <label for="title">Título del evento *</label>
                <!-- Contenedor para hacer el input group -->
                <div class="flex">
                    <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white">A: </span>
                    <input class="block w-full pl-3 border-r border-y rounded-r-md outline-none transition-colors " type="text" placeholder="Realización pruebas saber..." id="title" formControlName="title">
                </div>
            </div>

            <!-- Contenedor para asistentes, fecha y horario -->
            <div class="w-full">
                <!-- contenedor para asistentes y fechas -->
                <div class="lg:flex lg:mb-4 gap-8">
                    <!-- asistentes -->
                    <div class="lg:w-1/2 mb-2">
                        <label for="">Personas a Asistir *</label>
                        <div class="flex  rounded-lg">
                            <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white">
                                <i class="pi pi-users"></i>    
                            </span>
                            <input class="block w-full pl-3 border-r border-y rounded-r-md outline-none transition-colors" type="text" placeholder="50" formControlName="people">
                        </div>
                    </div>
                    <!-- fecha -->
                    <div class="lg:w-1/2 mb-2">
                        <label for="date">Fecha de Realización *</label>
                        <div class="flex rounded-md">
                            <div class="flex">
                                <span class="flex items-center justify-center h-full p-2  bg-gray-400 rounded-l-md text-white">
                                    <i class="pi pi-calendar"></i>    
                                </span>
                            </div>
                            <div class="w-full p-fluid">
                                <p-calendar formControlName="date" (onSelect)="algo()" dateFormat="dd/mm/yy" formControlName="date"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contenedor para los horarios -->
                <div class="mb-4 gap-8 lg:flex">
                    <!-- horario de inicio -->
                    <div class="mb-2 lg:w-1/2 ">
                        <label for="">Hora de inicio *</label>
                        <div class="flex" >
                            <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white"> 
                                <i class="pi pi-clock"></i>
                            </span>
                            <!-- <input  class="block w-full pl-3 outline-none" type="text" placeholder="06:00 a.m."> -->
                            <div class="w-full p-fluid">
                                <p-dropdown [options]="start" optionLabel="hour" placeholder="Seleccione la hora de inicio" (onClick)="clearEndHoursList()" (onChange)="endTimes($event)" formControlName="start"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <!-- horario de fin -->
                    <div class="lg:w-1/2">
                        <label for="">Hora de finalización *</label>
                        <div class="flex">
                            <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white"> 
                                <i class="pi pi-clock"></i>
                            </span>
                            <!-- <input class="block w-full pl-3 outline-none" type="text" placeholder="08:00 a.m."> -->
                            <div class="w-full p-fluid">
                                <p-dropdown [options]="endHours" optionLabel="hour" placeholder="Seleccione la hora de finalizacion" formControlName="end" ></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-between">
                <a routerLink="/eventos/personal-info" class="flex py-1 px-3 mt-4 rounded-md text-gray-400"
                   (click) = 'back()'    >Anterior</a>

                <button type="button" class="flex bg-red-600 py-1 px-3 mt-4 rounded-md text-white"
                        (click)="submit()">Agendar</button>
            </div>
        </form>
    </div>

    <!-- contenedor final de agendamiento del evento -->
    <ng-template #final>
        <div class="p-2">
            <button (click)="regresar()">Regresar</button>
            <!-- encabezado -->
            <div class="flex items-center justify-center mb-4">
                <img src="assets/logo-colors.png" alt="icono de check" class="w-[150px] max-w-[450px]">
            </div>
            <!-- texto de agradecimienot -->
            <div class="text-center">
                <h2 class=" text-2xl font-semibold pb-5"> ¡Evento Agendado! </h2>
                
                <p class="text-[12px] pb-6">Señor/a Angel Gabriel Garcia Rangel, el evento Capacitacion Base de datos, ha sido agendado éxitosamente para 14-04-2023 en el horario de 06:00am a 08:00am. Le agradecemos que sea puntual en la recepción y entrega de auditorio.</p>
                <p>"Se amable sabiendo"</p>

                <div class="">
                    <img src="assets/Firma Jefe.png" alt="" class="mx-auto">
                </div>

            </div>
        </div>
    </ng-template>
</div>