<div class="p-4">
    <!-- Contenedor para el titulo -->
    
    <!-- Contenedor para los formularios -->
    <div *ngIf="!sheduleEvent; else final">
        <div class="pb-4">
            <h2 class="font-bold text-xl mb-2 md:text-3xl">Datos del Evento</h2>
            <span class="block font-medium text-sm text-gray-400">Ingrese los datos para el evento/capacitacion que se realizará.</span>
        </div>
        <form [formGroup]="eventForm" (ngSubmit)="submit()">
            <!-- Contenedor para el titulo del evento -->
            <div [ngClass]="{'mb-2': invalidInput('title'), 'mb-4': !invalidInput('title')}" *ngIf="Ticket.service.physicalSpace == 'A' || Ticket.service.physicalSpace == 'BD'; else semillero">
                <label for="title">Título del evento *</label> 
                <!-- Contenedor para hacer el input group -->
                <div class="flex">
                    <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white"> {{ typeService  }}: </span>
                    <input pTooltip="Ejemplo: Charlas de ingeneria..." tooltipPosition="top" [ngClass]="{'border-red-400': invalidInput('title')}" class="block w-full pl-3 border-r border-y rounded-r-md outline-none transition-colors " type="text" placeholder="Realización pruebas saber..." id="title" formControlName="title">
                </div>
                <span *ngIf="invalidInput('title')" class="block py-2 text-red-500">El titulo del evento es obligatorio. Ejemplo "Capacitación pruebas saber pro 2023"</span>
            </div>

            <!-- Contenedor para la selección de semilleros. -->
            <ng-template #semillero>
                <div class="mb-3">
                    <!-- horario de inicio -->
                    <div class="mb-2 ">
                        <label for="">Departamento del semillero * </label>
                        <div class="flex" >
                            <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white"> 
                                <i class="pi pi-sitemap"></i>
                            </span>
                            <div class="w-full p-fluid">
                                <p-dropdown [options]="departments" optionLabel="department" [filter]="true" filterBy="department" (onChange)="selectSeedbeds($event)" ></p-dropdown>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="w-full mb-4">
                    <label for="">Semillero de Investigación *</label>
                    <div class="flex">
                        <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white"> 
                            <i class="pi pi-verified"></i>
                        </span>
                        <div class="w-full p-fluid">
                            <p-dropdown [options]="seedbeds" optionLabel="name" [filter]="true" filterBy="name"  panelStyleClass="overflow-x-scroll" formControlName="title" styleClass="rounded-r-md"></p-dropdown>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Contenedor para asistentes, fecha y horario -->
            <div class="w-full">
                <!-- contenedor para asistentes y fechas -->
                <div class="lg:flex lg:mb-4 gap-8">
                    <!-- asistentes -->
                    <div class="lg:w-1/2 mb-2">
                        <label for="">Personas a Asistir *</label>
                        <div class="flex  rounded-lg">
                            <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white">
                                <i class="pi pi-users"></i>    
                            </span>
                            <input pTooltip="La cantidad de personas a asistir" [ngClass]="{'border-red-400': !controlPeople!['valid']}" class="block w-full pl-3 border-r border-y rounded-r-md outline-none transition-colors" type="number" [placeholder]="setPeopleValitadors()[0]" formControlName="people" [min]="setPeopleValitadors()[0]">
                        </div>
                        <span *ngIf="!controlPeople!['valid'] && controlPeople!['touched']" class="block py-2 text-red-500"> {{getErrorPeopleMessage()}} </span>
                    </div>
                    <!-- fecha -->
                    <div class="lg:w-1/2 mb-2">
                        <label for="date">Fecha de Realización *</label>
                        <div class="flex rounded-md">
                            <div class="flex">
                                <span class="flex items-center justify-center h-full p-2  bg-gray-400 rounded-l-md text-white">
                                    <i class="pi pi-calendar"></i>    
                                </span>
                            </div>
                            <div class="w-full p-fluid">
                                <!-- (onSelect)="algo()"  -->
                                <p-calendar pTooltip="Fecha en la que realizara el evento" tooltipPosition="top" formControlName="date" (onSelect)="getFormatDate()"  [minDate]="minDate" [maxDate]="maxDate" [disabledDates]="disableDates" [disabledDays]="[0]"   dateFormat="dd/mm/yy" ></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contenedor para los horarios -->
                <div class="gap-8 lg:flex">
                    <!-- horario de inicio -->
                    <div class="mb-2 lg:w-1/2 ">
                        <label for="">Hora de inicio *</label>
                        <div class="flex" >
                            <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white"> 
                                <i class="pi pi-clock"></i>
                            </span>
                            <div class="w-full p-fluid">
                                <p-dropdown pTooltip="Hora de inicio del evento" [options]="start" optionLabel="hours" placeholder="Seleccione la hora de inicio" (onClick)="clearEndHoursList()" (onChange)="endTimes($event)" formControlName="start"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <!-- horario de fin -->
                    <div class="lg:w-1/2">
                        <label for="">Hora de finalización *</label>
                        <div class="flex">
                            <span class="inline-block p-2 bg-gray-400 rounded-l-md text-white"> 
                                <i class="pi pi-clock"></i>
                            </span>
                            <div class="w-full p-fluid">
                                <p-dropdown pTooltip="Hora de finalización del evento" tooltipPosition="top" [options]="endHours" optionLabel="hour" placeholder="Seleccione la hora de fin" formControlName="end" ></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contenedor para un segundo encargado -->
            <div class="mt-4">
                <div class="flex items-center gap-1 mb-4 pl-1">
                    <input type="checkbox" name="second" id="second" class="w-4 h-4" formControlName="extra" >
                    <label for="second" pTooltip="Persona/s encargas de recibir el espacio solicitado en caso de que el solicitante no pueda recepcionarlo.">Deseo agregar un segundo encargado</label>
                </div>
                <div class="card p-fluid" *ngIf="this.eventForm.controls['extra'].value">
                        <p-chips formControlName="emails" [max]="2" pTooltip="Máximo 2 encargados" separator="@">
                            <ng-template let-item pTemplate="item"> {{ item }}@ufps.edu.co <i class="pi pi-user ml-2"></i> </ng-template>
                        </p-chips>
                </div>
            </div>

            <!-- Contenedor de los botones para avanzar o agendar -->
            <div class="flex justify-between">
                <a routerLink="/eventos/personal-info" class="flex py-1 px-3 mt-4 rounded-md text-gray-400"
                   (click) = 'back()'    >Anterior</a>

                <button type="submit" class="flex  py-1 px-3 mt-4 rounded-md text-white transition-colors"
                        [disabled]="eventForm.invalid"
                        [ngClass]="{'bg-gray-400 cursor-not-allowed': eventForm.invalid, 'bg-red-600 hover:bg-red-500': eventForm.valid}">Agendar</button>
            </div>
        </form>
    </div>

    <!-- contenedor final de agendamiento del evento -->
    <ng-template #final>
        <div *ngIf="showLoading; else show" class="flex flex-col items-center justify-center w-full h-[374px]" >
            <span class="loader"></span>
            <div class="mt-12 text-center p-2">
                <span class="font-medium">¡Espera un momento. Estamos agendando el evento!</span>
            </div>
        </div>
        <ng-template #show>
            <div class="px-2">
                <!-- Encabezado -->
                <div class="flex items-center justify-center mb-4">
                  <img src="assets/logo-colors.png" alt="icono de check" class="w-44 max-w-full">
                </div>
              
                <!-- Texto de agradecimiento -->
                <div>
                  <h2 class="text-2xl font-bold mb-5 text-center">¡Evento Agendado!</h2>
                  <div class="text-sm mb-6 max-w-lg mx-auto">
                        <p >
                            De acuerdo a su solicitud, me permito informar que está autorizado {{getFinalMessage()}} para el día <span class="font-bold">{{ Ticket.event.date[8] + Ticket.event.date[9]  }}</span> de <span class="font-bold"></span> en el horario de <span class="font-bold">{{ Ticket.event.start }}</span> a <span class="font-bold">{{ Ticket.event.end }}</span>. 
                        </p>
                        <p class="py-3">
                            Esté fue agendado a cuenta institucional en Google calendar. En caso de que el evento no se vaya a realizar, por favor comunicarlo a través del correo  a
                            <a href="mailto:biblioteca@ufps.edu.co" class="text-red-400">biblioteca@ufps.edu.co</a> con anterioridad.
                        </p>  
                        <p class="font-semibold" *ngIf="Ticket.service.physicalSpace != 'BD'; else alter ">
                            Adicionalmente, es importante que descargue el formato que sustenta que se realizo el préstamo del espacio. No necesita imprimirlo.
                            <button  (click)="download()" 
                                class="block bg-red-500 hover:bg-red-700 text-white text-center font-normal py-2 px-4 my-3 rounded border  transition-colors w-full">
                                    Descargar Formato
                                    <i class="ml-4 pi pi-download"></i>
                        </button>
                        </p>
                        <ng-template #alter>
                            <p>
                                Al finalizar la sesión se tomará asistencia a través de los correos institucionales y se enviará certificado digital de la participación. <br>
                            </p>
                        </ng-template>
                        <p>La sesión se cerrará en {{countDown}}</p>
                    </div>
                    <!-- contenedor para cerrar sesion o realizar otra agendamiento -->
                    <div class="flex justify-center gap-6 " *ngIf="controlDownload">
                        <button (click)="reset()" class="inline-block px-8 py-1 bg-yellow-500 hover:bg-yellow-600 text-white rounded-md text-center transition-colors">Agendar Evento</button>
                        <a [routerLink]="['/auth/']" class="inline-block px-8 py-1 bg-red-500 hover:bg-red-600 text-white rounded-md text-center transition-colors">Cerrar sesion <span class="text-[10px]">({{countDown}})</span></a>
                    </div>
                </div>
              </div>
        </ng-template>
    </ng-template>
</div>
