<div class="w-full h-full">
    <!--  Conteedor que genera la sombra -->
    <div class="w-full min-h-full bg-effect absolute top-0 left-0  items-center justify-center lg:flex " >
        <!--Contenedor para los componentes -->
    <div class="w-full step-container rounded-2xl lg:bg-white gap-12 lg:flex lg:py-4 lg:px-5 max-w-[1100px]">
        <!-- contenedor para el step -->
        <div class="w-full h-28 p-4 lg:rounded-3xl lg:p-8 lg:h-auto bg-step  lg:w-1/3 bg-blue-600">
            <div class="w-full">
                <!-- contenedor para los circles -->
                <div class="flex justify-center gap-6 lg:flex-col ">
                    <!-- circle -->
                    <div *ngFor="let item of stepItems; index as i" class="items-center gap-4 lg:flex">
                        <div class="flex items-center text-center w-8 h-8 rounded-full bg-white"  
                                [ngClass]="{'bg-select text-white': (i+1) === currentStep }">
                            <span class="w-full font-bold"> {{item.step}} </span>
                        </div>
                        <div class="text-white">
                            <div class="hidden lg:block">
                                <span class="hidden lg:block">Paso {{item.step}}</span>
                                <span> {{item.title}} </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- contenedor para el renderizado de los componentes -->
        <div class="mt-8 bg-white w-[90%] mx-auto rounded-md lg:mt-0 ">
            <div class=" px-4 pt-4" *ngIf="currentStep != 4">
                <button (click)="finalizar()" class="block ml-auto bg-red-600 text-white py-1 px-6 rounded-md hover:bg-red-500 transition-colors">
                    Salir 
                    <i class="pi pi-sign-out"></i>
                </button>
            </div>
            <router-outlet ></router-outlet>
        </div>
    </div>
    
</div>

</div>

