<div class="p-2">
    <!-- titulo de la seccion -->
    <div class="px-2 py-4">
        <h2>Listado de Eventos</h2>
    </div>

    <!-- cards -->
    <div class="grid grid-cols-3 gap-4">
        <div class="bg-slate-500 text-white">
            <!-- encabezado de icono -->
            <div class="flex-col p-2 md:p-4">
                <i class="pi pi-eye text-4xl inline-block pb-4"></i>
                <span class="block">Solicitudes pendientes</span>
            </div>
            <!-- boton de ver  -->
            <div class="">
                <a href="#" class="block w-full py-1 text-center bg-slate-600">
                    Ver  
                    <i class="pi pi-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="bg-lime-500 text-white">
            <!-- encabezado de icono -->
            <div class="flex-col p-2 md:p-4 ">
                <i class="pi pi-thumbs-up text-4xl inline-block pb-4"></i>
                <span class="block">Solicitudes Aprobadas</span>
            </div>
            <!-- boton de ver  -->
            <div class="">
                <a href="#" class="block w-full py-1 text-center bg-lime-600">
                    Ver  
                    <i class="pi pi-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="bg-red-600 text-white">
            <!-- encabezado de icono -->
            <div class="flex-col p-2 md:p-4 ">
                <i class="pi pi-thumbs-down text-4xl inline-block pb-4"></i>
                <span class="block">Solicitudes rechazadas</span>
            </div>
            <!-- boton de ver  -->
            <div class="">
                <a href="#" class="block w-full py-1 text-center bg-red-700">
                    Ver  
                    <i class="pi pi-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
